@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Manrope", sans-serif;
}
:root {
  --ligh-cyan: hsl(193, 38%, 86%);
  --neon-green: hsl(150, 100%, 66%);
  --grayish-blue: hsl(217, 19%, 38%);
  --dark-grayish-blue: hsl(217, 19%, 24%);
  --dark-blue: hsl(218, 23%, 16%);
}
.content_wrapper {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--dark-blue);
}
.container {
  width: 34rem;
  max-width: 90%;
  background-color: var(--dark-grayish-blue);
  border-radius: 10px;
  padding: 2.4rem;
  text-align: center;
}
.container span {
  display: block;
  font-size: 18px;
  word-spacing: 0.5rem;
  text-transform: uppercase;
  color: var(--neon-green);
  margin-bottom: 1.4rem;
}
#adviceId {
  font-size: 18px;
  margin-left: 0.3rem;
  letter-spacing: 3px;
}
.generatedAdvice {
  width: 100%;
  height: 7rem;
  font-size: 1.5rem;
  word-spacing: 2px;
  color: var(--ligh-cyan);
  margin-top: 0.5rem;
  margin-bottom: 2.5rem;
  padding:0 2rem;
  line-height: 1.5;
}
#divider{
  width: 100%;
  margin-bottom: 2rem;
}
.diceBtn {
  width: 4rem;
  height: 4rem;
  border: 1px solid var(--neon-green);
  border-radius: 50%;
  background-color: var(--neon-green);
  padding: 1rem;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  margin: 0 auto;
  margin-bottom: -70px;
}
.diceBtn:hover {
  box-shadow: 0 0 20px 5px var(--neon-green);
  transition: box-shadow 0.1s ease;
}

/* adding media queries for responsive design */

@media screen and (max-width: 500px) {
  .container span{
    font-size: 16px;
  }
  #adviceId{
    font-size: 16px;
  }
  .generatedAdvice {
    height: auto;
    font-size: 20px;
    padding: 0;
  }
  #divider {
    content: url("./images/pattern-divider-mobile.svg");
  }
}
